@import url('https://fonts.googleapis.com/css?family=Manrope:wght@200..800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@import 'tailwindcss';

/* Swiper Carousel styles */
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@import './base/index.css';
@import './components/index.css';

@import 'tw-animate-css';

/* bootstrap grid to tailwind plugin */
@plugin 'tailwind-bootstrap-grid' {
  grid_gutter_width: '2rem';
  generate_container: false;
}

/* preload tailwind-bootstrap-grid utility classes; */
/* responsive classes are in base/tailwind-bootstrap-grid */
@source inline("col-{1..12}");
@source inline("offset-{1..12}");

#footer {
  p {
    color: white;
  }
}

.kalaidos-green {
  background-color: #e0ebe6 !important;
  .shape1 {
    background-color: #9abead !important;
  }
}
.indent {
  margin-right: 10px;
}

#header {
  .image {
    max-width: 160px;
    padding: 30px 10px;
  }
  .image-caption {
    display: none;
  }
}

.language-switcher {
  button {
    float: right;
    padding: 34px 10px;
  }
}
#footer {
  .image {
    max-width: 207px;
    padding: 20px 0px;
  }
  .image-caption {
    display: none;
  }
  hr {
    height: 1px;
  }
  .rich-text {
    padding-left: 0px;
  }
  .col-lg-6 {
    padding-left: 0px;
  }
}

.d-none {
  @media (max-width: 768px) {
    display: none;
  }
}

